app {
  display: flex;
  flex-direction: column;
}

.board-and-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: column;
}

.debug-tools {
  margin-top: 10px;
}