.board {
  --cell-size: 70px;

  display: grid;
  grid-template-columns:
    var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size)
    var(--cell-size) var(--cell-size) var(--cell-size);
  grid-template-rows:
    var(--cell-size) var(--cell-size) var(--cell-size) var(--cell-size)
    var(--cell-size) var(--cell-size) var(--cell-size);
}

.cell {
  border: 1px solid black;
}

.cell.invalid-square {
  background-color: black;
}

.cell.peg-square {
  font-weight: bold;
  background-color: #ffaaaa;
}

.cell.selected {
  background-color: red;
}

.cell.candidate-target {
  background-color: yellow;
}

.cell.draggable {
  cursor: pointer;
}

.cell.draggable:hover {
  background-color: #ff6666;
}
